html,
body {
  font-family: 'Metropolis', 'Inter', 'Open Sans', sans-serif !important;
}
.badges {
  margin: 1rem auto;
  display: flex;
  flex: row auto;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: 0.5rem;
  place-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.badges a[href],
.badges a[href] img {
  display: inline-block;
}
.VPNav.no-sidebar {
  background-color: var(--vp-c-text-inverse-1) !important;
}
